.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 2rem 1rem
;
}
.navbar ul{
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}


.navbar ul li{
    list-style: none;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
}