.wrapp-nav {
    position: fixed;
    top: 0;
    width: 100%;
    padding: 2rem 1.5rem;
    background-color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    margin-bottom: 1rem;
    border: 1px solid #e0e0e0;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    backdrop-filter: blur(10px);
    text-align: center;
   
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    ;

}

.navbar ul {
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}


.navbar ul li {
    list-style: none;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
}

.cart-link {
  position: relative;
}

.count-number{
  position: absolute;
  top: 10px;
  right: -15px;
  background-color: transparent;
  border: 1px solid green;
  color: green;
  padding: 2px 6px;
  border-radius: 50%;
  font-size: 10px;
  align-items: center;
}
.count-number:hover{
  background-color: green;
  color: white;
  transition: all 0.3s ease;
}
@media (max-width: 768px) {
    .navbar ul {   
        gap: 0.5rem;
    }
    .navbar ul li {
        font-size: 16px;
    }
}
